@model List<MongoLog.Models.Log>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @using (Html.BeginForm("Index", "Search", FormMethod.Get))
    {
    <p>
        Title: @Html.TextBox("SearchString")
        <input type="submit" value="Filter" />
    </p>
    }
    </p>
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

Number of item: @Model.Count().ToString();
<br />
@foreach (var item in Model) {
    <tr>
        <td>
            @item.Name;
            @item.host;
        </td>
    </tr>
}

</table>
